/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.navbar-profile-icon {
    font-size: 20px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
}

.budget-link {
    color: rgb(0, 0, 0);

}

.profile {
    color: rgb(0, 0, 0);
    background-color: rgb(245, 186, 8);
    border-radius: 20px;
    padding: 5px;
}

.profile:hover {
    color: rgb(0, 0, 0);
    background-color: rgba(232, 208, 136, 0.889);
}